
  /* Select by class */
  .container {
    font-size: 1rem;
    font-family: "Oswald", sans-serif;

    margin: 20px auto;
    padding: 30px 50px;
    max-width: 80%;

    border-bottom: 4px solid #DEE8FE;
  }

  .container-nav {
    background-color: #111111;
    font-size: 1.5rem;
    font-family: "Urbanist", sans-serif;
    margin: auto;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: center;
    margin:auto;
  }

  .navbar ul{
    display: flex;
  }

  .navbar ul li {
    list-style-type: none;
  }

  .container-nav ul li {
    padding: 10px;
    margin: 0 10px;
  }

  .navbar a {
    color: white;
    background-color: #0E2E6A;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
  }

  .navbar a:hover {
    color: #0E2E6A;
    background-color: #DEE8FE;
    transition: 0.7s;
  }

  .container .navbar {
    justify-content: space-between;
  }
  
  /* Select by tag name */
  body{
    background-color: #0E2E6A;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.5px;
  }

  h1,h2,h3 {
    color: #DEE8FE;
    margin-top: 2rem;
  }

  p, text {
    color: white;
    font-size: 16px;
    font-weight: light;
    text-indent: 30px;
  }

  a{
    color: white;
    font-size: 16px;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  .flexboxHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:stretch;
    justify-content: space-around;
    margin: 1rem auto;

  }

  .flexboxVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    justify-content:flex-start;
    padding: 1rem;
    margin: 1rem auto 2rem 2rem;
  }

  .heroImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("WorldsArena.png");
    filter:brightness(30%);
    /*height: 50%;*/
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  h1.heroText{
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    position: absolute;
    top:50%;
    left:10%;
    color:white;
  }

  h2.heroText{
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    position: absolute;
    top:80%;
    left:10%;
    color:white;
  }


  button {
    color: #0E2E6A;
    background-color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin:1rem auto;
  }

  button:hover {
    border: 5px solid #8a7c6a;
    transition: 0.5s;
  }


  .vis {
    background-color: white;
    width: 70%;
    height: 500px;
  }  
